body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px; 
    line-height: 1;
    margin-bottom: 50px; 
}

.jumbotron {
    text-align: center;
    background-color: #f5f5f5;
    color: rdb(43, 43, 43);
    border-radius: 0;
    border-bottom: 1px solid black;
}

.date {
    letter-spacing: 3px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 0;
}

.time-block {
    text-align: center;
    border-radius: 16px;
}

.row {
height: 82px;
border-top: 1px solid white;
white-space: pre-wrap;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
    padding-top: 20px;
    padding-left: 0;
}

.desciption {
    border-top: 1px solid black;
    padding: 0;
    white-space: pre-wrap;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
}

.past {
    background-color: #919891;
    color: white; 
}

.future {
    background-color:  #807D7A;
    color: white;
}

.saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #BABEAE;
    color: white;
    padding: 30px;
    padding-left: 25px;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}